@CHARSET "UTF-8";

.WJcontainer {
  margin-right: 40%;
  margin-left: 40%;
}
.WJcontainer2 {
  margin-right: 20%;
  margin-left: 20%;
  height:700px;
 }
.WJrow {
  margin-left: 5%;
  margin-right: 5%;
}
.WJform-group {
  margin-bottom: 1%;
}

.WJform-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.WJform-control2 {
  display: block;
  width: 50%;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.WJbtn-default {
  color: #ffffff;
  background-color: #474949;
  border-color: #474949;
}
.WJbtn {
  display: inline-block;
  margin: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}
.WJbtn-block {
  display: block;
  width: 100%;
}
.WJcol-md-6 {
    width: 50%;
}






.WJcontainer {
  width:60%;
  margin-left: 20%;
  height:1000px;
}

.WJcontainer2 {
  margin-top:80px;
  margin-right:20%;
  width:60%;
  margin-left: 20%;
  height:800px;
 }
 
 .WJcontainer3 {
  width:60%;
  margin-left: 20%;
  height:600px;
}
.WJcontainer4 {
  width:60%;
  margin-left: 20%;
  height:900px;
}
.WJcontainer5 {
  width:60%;
  margin-left: 20%;
  height:800px;
} 
.WJrow {
  margin-left: 5%;
  margin-right: 5%;
}
.WJform-group {
  margin-bottom: 1%;
}

.WJform-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.WJform-control2 {
  display: block;
  width: 50%;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.WJbtn-default {
  color: #ffffff;
  background-color: #474949;
  border-color: #474949;
}
.WJbtn {
  display: inline-block;
  margin: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}
.WJbtn-block {
  display: block;
  width: 100%;
}
.WJcol-md-6 {
    width: 50%;
}
.WJLayout{
  width:30%;
  margin-left: 35%;
  height: auto;   
}
.WJLayout2{
  margin-top: 10%;
  margin-left: 15% ;
  width: 70%;
  height: auto;
}
.WJform-groupMain{
   width:70%;
   height:auto;
   float:;
}
.WJMainSearchDiv{
   margin-left:32%;
   width:36%;
}
.WJMainSection{
   margin-top:24%;
   margin-left:20%;
   width:60%;
   height:auto;
   float: left;
}
.WJform-control3 {
  display: block;
  width: 100%;
  height: 50px;
  padding: 8px 12px;
  font-size: 17px;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.WJbtn2 {
  display: inline-block;
  height:50px;
  margin: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 17px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}